.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 40px;
  width: 300px;
  margin-top: 5px;
}
.filter {
  width: 380px;

  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
